body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /*color - image - position - repeat - (size) - atachment*/

    background: black url(imagens/wallpaper002.jpg) center center no-repeat fixed;
    background-size: cover;
}
main{
    background-color: white;
    max-width: 40em;
    text-align: center;
    padding: 1em;
    border: 1px solid darkblue;
    border-radius: 1em;
}