h1{
    background-color: bisque;
    height: 200px;
    width: 200px;

    /*border-width
      border-style
      border-color*/
    border: 5px solid #ad9c87;
    /*Se forem iguais basta informar apenas 1 vez, se inserir 2 valores top e bottom tem o mesmo tamanho, e right e left também
      padding-top
      padding-right
      padding-bottom
      padding-left*/
    padding: 10px;
    margin: 20px;
    outline: 5px #ffbd6d ashed;
}
a{
    border: 3px brown solid;
}